h1 {
    padding: 1em;
}

table {
    width: 100%;
}

.products-columns {
    display: flex;
}

.products-filter-column {
    padding: 1em;
}

.products-list-column {
    padding: 1em;
    flex-grow: 1;
}
